@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

/* .navbar{
  height: 58px;
  background-color:#44749D;
   align-items: center;
   padding: 0 2%;


}
.center-icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-nav{
  display: flex;
  justify-content: space-between;
   align-items: center;
   height: 58px;

}

.navbar-nav .nav-item{
  cursor: pointer;
}

.logo{
  width: 10%;
  height: 10%
}

.font{
  color: white;
  font-size: 17px;
  padding-left: 2%;

}
.mat-toolbar.mat-primary{
  background: #44749D;
  color: white;
}

.font-icon{
  font-family: 'Oswald', sans-serif;
}



ul {
  list-style-type: none;
 }


.topnav {
  background-color: #44749D;
  overflow: hidden;
}

.nl .navbar-nav .g1 {
  float: left;
  display: block;
  color: #f2f2f2;
  border-radius:  2px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;



}



/* .nl .navbar-nav .g1:active {
  border-bottom: 3px solid rgb(255, 255, 255);
} */

.nl{
  background-color:#44749D;
}

#li1{
  padding-left: 51%;

}
select{
  max-width: 120% !important;
  outline: none;
}

.g2{
  padding: 1rem;
  display: flex;
}
.companylogo{
  height: 119px;

}


.g1{
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 1rem;
  padding-right: 1rem;


}

.cont{
  padding-left: 6%;

}
.img{
  display: flex;
  align-items: center
}

.col-4 {
  flex: 0 0 auto;
  margin: 0px 30px;
  width: 33.333333%;
}

.title{
  padding-left: 1%;
}
.space{
  padding-left: 5%;
}

.underLineStyle{

     border-bottom: 3px solid rgb(255, 255, 255);
    }


    .vert-row{
      background-color: #44749D;
    }

    .verticalline{
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      background-color: #7496BB;
      height: 2px;

    }

@media screen and (max-width: 850px) {
  #li1  {
    padding-left: 0px;
    }
}

@media screen and (max-width: 470px) {
  .logo {
      width: 25px;
      height: 25px;
    }
    .nl{
      height: 429px !important;
      margin: -20px -15px;
    }

    .navbar{
      height: 100px;
      background-color: #44749D;
      align-items: center;
      padding: 2px 4%;

    }


  .navbar-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin-right: 20vw;
  }


  .col-4{
    flex: 0 0 auto;
    margin: 0px 8px !important;
    width: 33.333333%;
}


}




@media screen and (max-width: 1118px) {
  #li1  {
    padding-left: 0px;
    }
}

@media screen and (max-width: 575px) {
  .nl{
    height:400px;
  }

  .g2 {
    padding-left:0%;
    padding-right: 0%;
  }
}
nav{
  position: sticky;

}
.Select-Option{
  display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}


.header-right{
  width: 20%;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  right: 0;
}

.header-list-right{
  padding: 0px;
  margin: 0px;
  display: flex;
}

.header-list-right li{
  vertical-align: middle;
  margin-top: 20px;
} */
