.bg_color{
height: 70px;
background: #688F99;
}
.margin_left_right{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
}
.bg_color_main{

    background: #F7F7F7 !important;
height: 100%;
padding-bottom: 100%;
}


.font_size_16{
font-family: 'Inter' !important;
font-style: normal;
font-weight: 400;
font-size: 13.5px;
display: flex;
align-items: center;
cursor: pointer;

}
.font_size_18{
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  }
.color_paper{
    color: #FFFFFF;
}
.single_line{
    display: flex;
}
.arrow_size{
    width:27px;
    height: 32px;
}
.manual_bulk{
    height: 49px;
background: #E7EDEE;
}
.manual_bulk_main{
    margin-left: 2%;
    padding-top: 1%;
}
.underline_generate_paper{
    border: 2px solid #688F99;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: absolute;
    position: absolute;
    top: 32px;
    width: 67%;
    left: 8.5%;

}
.underline_manual
{
  border: 2px solid #688F99;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  position: absolute;
  top: 32px;
  width: 78%;
  left: 1%;
}
.underline_bulk{
    border: 2px solid #688F99;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: absolute;
    position: absolute;
    top: 32px;
    width: 35%;
    left: 1%;
}
.position_relative{
    position: relative;
}
.manual_bulk_color{
    color: #688F99;
}
.padding_top_2_5{
  padding-top: 2.5%;
}
@media only screen and (max-width: 600px)  {
  .manual_bulk_main {
    margin-left: 4.5% !important;

  }
  .underline_bulk{

    width: 43%;
    top: 42px;
}
.underline_manual{

  top: 42px;
  width: 91%;

}
  .font_size_18 {

    font-size: 13.5px;
  }
  .bg_color{
    height: 55px;

}
.padding_top_samplefile {
  padding-top: 2%;
  padding-bottom: 2%;
}
.font_size_16 {

  font-size: 12.5px;
}
.margin_left_right {
  margin-left: 3%;
  margin-right: 3%;

}
}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {
  .underline_bulk{

    top: 33px;
    width: 44%;

}
.underline_manual{

  top: 33px;
  width: 91%;

}

}
