.chart-container{
  padding: 5%;
}
.buttonStyle{
  bottom: 11%;
}
.TextStyle{
  text-align: end;
}


.boder_applied{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
}

.chart-container2{
  padding: 0% 0 0 0;
  width: 100%;


}


.fullscreen {
  margin-top: 10% !important;

}

#lineChart{

width: 100% !important;
  padding: 0% 2% 2% 2%;
}

:host::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  width: 35px !important;
  height: 48px;
  padding: 12px;
}
.cursor
{
  cursor: pointer !important;
}
:host::ng-deep .mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: none !important;

}
@media only screen and (max-width: 600px)  {
  #lineChart{

      height: 100% !important;
      width: 100% !important;
  }

  .fullscreen {
    height: 10% !important;

        }
        .scrollbar
{
  width: 85vw;
  overflow-x: scroll;
  overflow-y: hidden;
}
.height_width
{
  width: 52rem;
    height: 20rem;
}
.overflowhiiden
{
  overflow: hidden;
}
}
.expandview{
  height:100%;

}
.chartunexpand
{
  height: 212px !important;
}
.chartexpand
{
  height: 450px !important;
}
:host::ng-deep .mat-mdc-icon-button {

  --mat-mdc-button-ripple-color: none !important;
 }