 .margin_left_right{
  margin-left: 5%;
  margin-right: 5%;
 }
 .bg_color_white{
  background: white;
 }
.save_chages{
  background: rgba(55, 75, 81, 1);
  color: white;
  padding: 1%;
}
.font_style_13_5{
  font-family: Inter !important;
  font-weight: 400;
  font-size: 14.5px;
}

.clorStyle{
  color: red;
}
.cursor{
  cursor: pointer;
}
.font_size_15_5{
  font-size: 16.5px;
  font-weight: 700;
}
.plus{
 font-size: 20px;;
}
.heading_color{
  color:rgba(104, 143, 153, 1);
}
.font_style{
  font-family: Inter !important;
}
.padding_top_1{
  padding-top: 1%;
}
.bg_color{
  background: #F7F7F7;
}
.padding_all_side{
  padding: 3%;
}
:host::ng-deep .mat-mdc-text-field-wrapper {
  width: 100%;
  border: 1px solid !important;
  height: 6vh !important;
  border-radius: 2px !important;
}
:host::ng-deep.mat-mdc-form-field-infix {
  padding-top: 12px !important;}
.width_select{
  width: 99% !important;

}
:host::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
 background-color: white !important;
}
.margin_top_2{
  margin-top: 2%;
}
.underline_paper {
  border: 2px solid rgba(104, 143, 153, 1);;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  width: 75%;
  top: 1.5rem;
  left: 4%;
    right: 4%;
}
.underline_water
{
  border: 2px solid rgba(104, 143, 153, 1);;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  width: 68%;
  top: 1.5rem;
  left: 4%;
    right: 4%;
}


.allocate_revoke {
  background: rgb(231, 237, 238);
  border-bottom: 1px solid #E7EDEE;
  height: 52px;
  padding: 2%;
}
.padding_bottom_1{
  padding-bottom: 1%;
}
.width_10{
  width: 10% !important;
}
.position_relative{
  position: relative;
}
.margin_zero{
  margin: 0px !important;
}
.ScrollBarStyle{
  padding-right: 1%;
  height: 72vh;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }
  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}
.ScrollBarStyleContent{
  height: 80vh;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }
  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}
.padding_top_2{
  padding-top: 2%;
}
.border_line{
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 0.5% 0%;
  background: white !important;
  height: 6vh;
}
.padding_top_3{
  padding-top: 3%;
}
.three_line{
  height: 32px;
    width: 21px
}

.dropzone {
  padding: 1rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  height: 178px;
  background: #F8F8F9;
  border: 1px solid #888888;
  border-radius: 2px;
  width: 95%;
}

.input-file {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.margin_left_1{
  margin-left: 1%
}
.padding_bottom_2{
  padding-bottom: 2%;
}
.padding_bottom_5{
  padding-bottom:5%;
}
.file-text {
  font-size: 14.5px;
  font-weight: 400;
  color: #38424c;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.btn-font {
  font-size: smaller;
}

.btn-sz {
  height: 41.49px !important;
  background: #374B51;
  border-radius: 1.80381px;
}

.black-btn-bg {
  background: rgba(28,39,44,1);
  border-color: #374B51;
  color: white;
  position: relative !important;
}


.example-margin {
  margin: 0 10px;
}
:host::ng-deep .mat-mdc-slider.mat-primary {
  width: 60% !important;
  --mdc-slider-handle-color: rgba(104, 143, 153, 1) !important;
    --mdc-slider-focus-handle-color: rgba(104, 143, 153, 1)!important;
    --mdc-slider-hover-handle-color: rgba(104, 143, 153, 1)!important;
    --mdc-slider-active-track-color: rgba(104, 143, 153, 1)!important;
    --mdc-slider-inactive-track-color: rgba(104, 143, 153, 1)!important;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: rgba(104, 143, 153, 1)!important;
    --mat-mdc-slider-ripple-color: rgba(104, 143, 153, 1)!important;
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}



.Zero{
  width: 0%;
    height: 0%;
}

.example-section{
  padding-left: 26px;
    padding-top: 2%;
    font-size: 14.5px;
    font-weight: 400;
}
.font_size_16_5{
  font-size: 16.5 px;
  font-weight: 400;
}

:host::ng-deep .mat-mdc-select-arrow {
  bottom: 0.5vh
}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {
  .ScrollBarStyleContent {
    height: 92vh;
  }
  .font_style_13_5{


    font-size: 12.5px !important;
}

.font_size_15_5{
    font-size: 14.5px !important;

}
.example-section{

    font-size: 12.5px !important;

}
.file-text{
    font-size: 12.5px !important;

}
}
.underline_water{

  width: 60%;
  top: 1.6rem;

}
.underline_paper{
  top: 1.6rem;
  width: 67%;}

:host::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color:white !important;
  /* border: none; */
}
/* Remove the blue border color on mat-input when focused */
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
  background-color: transparent; /* Change the background color to transparent */
  border-color: #ccc; /* Change the border color to a desired color */
}
:host::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: none !important;
}
:host::ng-deep.mdc-line-ripple::before, .mdc-line-ripple::after {

   border-bottom-style: none !important;

}
:host::ng-deep.mdc-line-ripple::before, .mdc-line-ripple:active {

  border-bottom-style: none !important;

}
:host::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
 border-bottom-color:white !important;
}
