/* .report_header{
  width: 100%;
  background-color: #44749D;
  padding: 17px 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: initial;
}
.d-flex{
  margin-left: 30px;
}

.generatereports{
  margin-left: -30px;
}

.newreport{
  margin-left: -42px;
} */
