.back_color_white{
  background: white;
}
.insured-mat-item{
  background: #FFFFFF;
  border: 0.5px solid rgba(199, 199, 199, 1);
  border-radius: 1px;
  margin: 10px 0px;

}
// .bordershow
// {
//   background: rgba(246, 246, 246, 1);
//   border: 0.5px dashed rgba(104, 143, 153, 1);
// }


.font_size_14_5{
  font-size: 14.5px !important;
}
.border-box-swap{
  // background: #FFFFFF;
  // border: 0.5px solid #C7C7C7;
  // border-radius: 1px;
  // margin: 10px 15px;
  margin: 10px 15px;
  // height: 23vh;
  overflow-y: auto;
}

.checked_class{
  // margin: 26px 3px;
  // padding: 17px 4px;
  // background: #C7C7C7;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 12%);
  border-radius: 4px;
  cursor: pointer;

  background: rgba(246, 246, 246, 1);
  border: 1px dashed #688F99;
}

.ScrollBarStyle {
	overflow-y: auto;
	// height: 24vh;
  height: 59vh;

&::-webkit-scrollbar {
	width: 3px;
	overflow-y: scroll;
	background: grey;
	box-shadow: inset 0 0 4px #707070;
}
&::-webkit-scrollbar-thumb {
	background: #dfeaf3;
	border-radius: 10px;
}
}
.remove{
  cursor: pointer;
  height: 50px;
  border-left: 1px solid rgba(199, 199, 199, 1);
}
:host ::ng-deep .mdc-list-item__primary-text{
  display: flex;
  justify-content: space-between;
}

.three_line{
  position: absolute;
    right: 6%;
    top: 37%;
}
.position_relative{
  position: absolute;
  right: 2%;
  top: 0%;
}
.position_relative_12{
  position: absolute;
  top: 23%;
  font-size: 14.5;
  font-weight: 400;
}
.delete{
  position: relative;
    top: 10px;
    left: 7px;

}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {
  .ScrollBarStyle{
    overflow-y: auto;
    height: 50vh;
}
}
