.chart-container{
    padding: 5%;
  }
  .buttonStyle{
    bottom: 11%;
  }
  .TextStyle{
    text-align: end;
  }
  .boder_applied{
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  }
  .chart-container3{
    width: 100%;
    }
    #HorizontalBarChart{

      width: 100% !important;
        padding: 0% 2% 2% 2%;
      }

  .fullscreen {

    margin-top: 10% !important;
    }
  .mat-mdc-card-content:first-child {
      padding-top: 3px;
  }


:host::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  width: 35px !important;
  height: 48px;
  padding: 12px;
}
.cursor
{
  cursor: pointer !important;
}
:host::ng-deep .mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: none !important;

}
:host::ng-deep .mat-mdc-icon-button {

  --mat-mdc-button-ripple-color: none !important;
 }
@media only screen and (max-width: 600px)  {
  #HorizontalBarChart{
      width: 100% !important;
  }
  .fullscreen {
    height: 10% !important;
        }
}
.expandview{
  height:100%;

}
.chartunexpand
{
  height: 250px !important;
}
.chartexpand
{
  height: 450px !important;
}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {
  .chartunexpand{
    height: 236px !important;
}
}
