.arabic_style_all_popup{
  direction: ltr;
}
.header_height {
  height: 50px;
  background: #E7EDEE;
}
.search_img{
  width:100px;
  height: 85px;

}

.containers {
  margin-left: 2%;
  margin-right: 2%;
}

.containers_heading {
  margin-left: 4%;
  margin-right: 4%;
}

.end {
  padding: 3% 0% 0% 0%;
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 500;
  // font-size: 18px;
  font-size: 16.5px;



  color: #688F99;
}



.start {
  padding: 14px 0px 0px 0px !important;
  font-family: 'Inter' !important;
  font-weight: 400;
  // font-size: 16px;
  font-size: 14.5px;
  color: #444444;
  margin-left: 1%;
  margin-right: 1%;
}

.starts {
  padding: 14px 0px 14px 0px !important;
  font-family: 'Inter' !important;
  font-weight: 400;
  // font-size: 16px;
  font-size: 14.5px;
  color: #444444;
  margin-left: 1%;
  margin-right: 1%;
}

.gap {
  height: 19px;
}
.gap_top{
  height: 12px;
}
.tranIdDes {

  height: auto;
  left: 203px;


  background: #D6FFD2;
  border: 1px solid #45F536;
  border-radius: 2px;
}

.new_purchase {
  height: auto;
  background: rgba(239, 239, 239, 0.21);
  border: 1px solid #E7EDEE;
  border-radius: 2px;
}

.paragraph {
  padding-bottom: 8px;
}

.purchase_sytock_view_heading {
  font-family: 'Inter' !important;
  font-weight: 600;
  // font-size: 16px;
  font-size: 14.5px;
  align-items: center;
  color: #444444;
  width: 50.666667% !important;
  white-space: nowrap;
}

.transcationId {
  font-weight: 700;
}



.ScrollBarStyle {
  margin-top: 2%;
  overflow-y: auto;
  height: 120px;

  &::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}


.cheque_list {
  height: 65px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 100%;
}

.ScrollBarStyles {
  margin-top: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 123px;

  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}

.name_file {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  // font-size: 16px;
  font-size: 14.5px;
  line-height: 19px;
  font-size: small;
  font-weight: 400;
  max-width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888888;
  position: relative !important;
  // bottom: 40% !important;
  // left: 21% !important;
  bottom: 6% !important;
  left: -5% !important;
  margin-left: 7%;
}
.max_width{

    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 19px;
    font-size: small;
    font-weight: 400;
    max-width: 16ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;




}

.file_mb {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #CCCCCC;

}

.eye_img {
  height: 25px;
  width: 25px;
}

.delete_img {
  height: 21px;
  width: 21px;
}

.no_data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachment {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5px;
  // font-size: 18px;
  line-height: 22px;
  color: #688F99;
  margin-left: 3%;
  margin-right: 3%;

}

.margin_left_no_data {
  margin-left: 3%;
}

.img_cheque {
  height: 100%;
  width: 97%;
  margin-left: 2%;
  left: 464px;
  top: 302px;

  background: rgba(217, 217, 217, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

.img_cheque_height {
  height: 29vh;
  width: 43vw;
  transform: translateY(-14px);
}

.col-md-1 {
  padding-left: 2%;
}

.no_wrap {
  padding: 0% !important;
  white-space: nowrap;
}

.no_wrap {
  white-space: nowrap;
}


.aprove_reject {
  width: 80px;
  height: 35px;
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  // font-size: 16px;
  font-size: 14.5px;
  color: #FFFFFF;
}

.approve {
  background: #20C95A;
  border-radius: 2px;
  border: 0px #20C95A solid;
}

.reject {
  background: #FF5065;
  border-radius: 2px;
  border: 0px #FF5065 solid;
}

.cursor {
  cursor: pointer;
}

.data {
  cursor: pointer;

  display: inline-block;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;

  max-width: 18ch !important;
}

.img-pt {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .name_file {
    bottom: 38% !important;
    left: 36% !important;

  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  .name_file {
    left: 0% !important;

    top: 15% !important;

  }
}



@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .name_file {
    bottom: 0% !important;
    left: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;

  }
}

.relative {
  position: relative;
}

.font_style {
  font-family: 'Inter';
  font-style: normal;
}

.allocate_stock_color {
  color: #688F99;
}

.font_size_18 {
  font-weight: 500;
  // font-size: 18px;
  font-size: 16.5px;
}

.popup-header {
  background-color: #E7EDEE;
  padding: 13px 24px 13px 24px
}

.fixed {
  position: fixed;

}

.positionfixed {
  position: fixed;
  padding-right: 80%;
}

//150 resolution
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .purchase_sytock_view_heading {
    font-size: 11.5px !important;
  }
  .content {
    font-size: 11.5px;
  }
  .font_size_18 {

    font-size: 14.5px;
  }
  .attachment {
    font-size: 14.5px;
  }
  .name_file{
    font-size: 11.5px;
  }
  .font_size_13_5{
    font-size: 14.5px;
  }
}

.position_absolute_button
{
    position: absolute;
  bottom: 6%;

}
@media only screen and (max-width: 600px)
{
.pd_lft{
    padding-left: 0px !important;
}
.popup-header{
    padding: 8px 12px 8px 12px;
}
.close_img
{
  height: 14px !important;
}
.font_size_14_5
{
  font-size: 12.5px;
}
.purchase_sytock_view_heading {
  font-size: 11.5px !important;
}
.content {
  font-size: 11.5px;
}
.font_size_18 {
  font-size: 12.5px;
}
.attachment {
  font-size: 14.5px;
}
.name_file{
  font-size: 11.5px;
}

.font_size_13_5{
  font-size: 11.5px;
}
.mobilecenter
{
  display: flex;
    justify-content: center;
}
.end {
  padding: 3% 3% 0% 0%;
}
.img_cheque_height {

  width: 63vw;
}
.padding_bottom4
{
  padding-bottom: 4%;
}
.position_absolute_button {
  bottom: 1px;
  position: absolute;

}
.viewpopupScrollbar
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 56vh;

  &::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}
.name_file {
  left: 0% !important;

}
}
// .viewpopupScrollbar{
//   padding-bottom: 3rem;
// }

