<div class="wrapper">
  <div></div>
  <div class="login-wrapper">
    <div class="container p-5">
      <div class="d-flex justify-content-between" style="color: white;">
        <h2 class="head-line">{{'ResetPassword.Reset_Password'|translate}}</h2>
        <a style="cursor: pointer;" (click)="goToLogin()">X</a>
      </div>
      <div class="row">
        <form [formGroup]="ResetPassword" (ngSubmit)="resetPassword()">
          <input type="hidden" id="identity" class="form-control input-box" formControlName="identity"
            value="{{userIdentity}}" />
          <input type="text" id="identity" class="form-control input-box" value="{{userName}}" readonly />
          <br>
          <div class="position_realtive">
          <input type="password" [type]="showPassword ? 'text' : 'password'" class="form-control input-box" [placeholder]="'ResetPassword.NewPasswordPlaceholder' | translate" formControlName="newPassword" (ngModelChange)="checkPassword($event)" />
          <mat-icon class="eye-icon" matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
        </div>
          <div *ngIf="ResetPassword.get('newPassword').errors && ResetPassword.get('newPassword').errors['required'] && ResetPassword.get('newPassword').touched">
            <small style="color: rgb(245, 6, 6);">{{'ResetPassword.Enter_new_password'|translate}}</small>
          </div>
          <div *ngIf="ResetPassword.get('newPassword').errors && ResetPassword.get('newPassword').errors['pattern']">
            <small style="color: rgb(245, 6, 6);">{{'ResetPassword.Message1'|translate}}</small>
          </div>
          <div *ngIf="isSubstring">
            <small style="color: rgb(245, 6, 6);">UserName is not substring of Password</small>
          </div>
          <br>
          <input type="password" [type]="showPassword ? 'text' : 'password'" class="form-control input-box"  [placeholder]="'ResetPassword.confirmPasswordPlaceholder' | translate"
            formControlName="confirmPassword" />
            <div *ngIf="ResetPassword.get('confirmPassword').errors && f['confirmPassword'].errors['passwordMismatch']">
              <small style="color: rgb(245, 6, 6)">{{'ResetPassword.Message2'|translate}}</small>
            </div>
          <br>
          <button type="submit" [disabled]="ResetPassword.invalid" class="btn btn-color mt-2">{{'ResetPassword.Reset_password'|translate}}</button>
        </form>

      </div>
    </div>
  </div>
