.bk_color {
  background: #F7F7F7;
  height: 1200px;
}

.ImgfArrowInput {
  color: #688F99;
}
.move_top{
  top: 1px;
  color: #688F99;
}
.position_relative {
  position: relative;
}

.position_absolute {
  position: absolute;
}

.margin_left_right {
  margin-left: 5%;
  margin-right: 5%;
}

.manage_profile {
  padding: 2% 0% 1% 0%;

}

.personal_info_left {
  background: #FBFBFB;
  border-radius: 5px 0px 0px 5px;

}
.cursor
{
  cursor: pointer;
}
.personal_info_right {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  padding: 1% 3% 12% 3%;
  border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.padding_2 {
  padding: 1% 2% 0% 2%;
}

.padding_info_profile {
  background: rgba(104, 143, 153, 0.15);
  border-radius: 35px;
  padding: 4%;

}

.perfole_edit {
  border: 1px solid #E6E6E6;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1%;
}

.profile_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #E6E6E6;
  padding-top: 2%;
  padding-right: 12%;
}

.edit_profile {
  padding: 3% 2% 1% 2%;
  margin-bottom: 18%;
}

.input_height {
  height: 35px;

  background: #FBFBFB;
}

.padding_input {
  padding: 1%;
}

input {
  width: 100%;
}

.round {

  width: 185px;
  height: 185px;
  border-radius: 50%;
  border: 1px solid rgba(165, 165, 165, 0.45);;
}

.profile_edit {
  position: absolute;
    right: 9%;
    bottom: 3%;
    width: 36px;
    height: 36px;
}

input {
  border: 1px solid rgba(165, 165, 165, 0.45);
}

.padding_bottom_2 {
  padding-bottom: 4%;
}

.edit_save {
  color: #3293D9;
}

.dark_blue {
  color: #688F99;

}

.font_size13_5 {
  font-weight: 400;
  font-size: 13.5px;
}

.font_style {
  font-family: 'Inter' !important;
  font-style: normal;
}

.background_color {
  background: white !important;
}

.under_line {
  text-decoration: underline;
}

.font_size_15_5 {
  font-size: 15.5px;
  font-weight: 500;
}
.ScrollBarStyle {
  overflow-y: auto;
  height: 35vh;
}
@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  .ScrollBarStyle {

    height: 47vh;

}
}
@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .ScrollBarStyle {
    height: 40vh;
  }
}
@media only screen and (max-width: 600px) {
.padding_top_bottom_4{
  padding: 4% 0% 4% 0%;
}
.margin_left_right_3{
  margin: 3% 0% 3% 0%;

}
.font_size13_5{
  font-size: 12.5px;
}
.font_size_15_5{
  font-size: 13.5px;
}
.mobilejustify
{
  justify-content: start !important;
}
.move_top {

  font-size: 13.5px;
}
.input_height{

  font-size: 11.5px;
}
.padding_bottom_2{

  font-size: 12.5px;
}
.mobile_scrollBarStyle{
  height: 86vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.margin_left_right_1{
  margin-left: 1%;
  margin-right: 1%;
}
.ScrollBarStyle {
  overflow-y: auto;
  height: 91vh;
}
.profile_edit{
  position: absolute;
  right: 12%;
  bottom: 5%;

}
.width_mobile{
  width: 80%;
}
.display_ceneter{
  display: flex;
  justify-content: center;
}
}

.text_align{
  text-align: center;
}
@media only screen and (max-width: 992px) and (min-width: 425px)  {
  .profile_edit{
    position: absolute;
    right: 15%;
    bottom: 7%;

  }
}
@media only screen and (max-width: 1400px) and (min-width:1200px)  {
  .font_size13_5 {
    font-weight: 400;
    font-size: 12.5px;
  }

  .personal_info_right
  {
    padding: 1% 3% 11% 3%;
  }
  .ScrollBarStyle{
    overflow-y: auto;
    height: 44vh;
}
}
