.inside_color {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    height: 67vh;
}

.margin_left_right {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.padding_top_samplefile {
    padding-top: 1%;
}

.display {
    display: flex;
}
.font_size_14_5{
  font-size: 14.5px;
  font-weight: 400;
  font-family: 'Inter' !important;
}
.coursor
{
  cursor: pointer;
}
.font_size_16 {

    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 19px;
    color: #444444;
}
.font_size_16_5{
  font-size: 14.5px;
  font-weight: 400;
  font-family: 'Inter' !important;
}
.position_absolute_delete{
  position: absolute;
    top: 16%;
}


input[type='radio'] {
    accent-color:#688F99;
}

.position_relative{
  position: relative;
  top:18%
}
.position_relative_20{
  position: relative;
    top: 12%;
}
.dropzone {
    padding: 1rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 210px;
    background: #F8F8F9;
    border: 1px solid rgb(226, 226, 230);
    border-radius: 2px;
}

.input-file {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.Zero{
  width: 0%;
    height: 0%;
}
.file-text {
    font-size: 14.5px;
    font-weight: 400;
    color: #38424c;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btn-font {
    font-size: smaller;
}
.position_relative_8
{
  position: relative;
  top: 8%;
  height: 34px;
}
.btn-sz {
    height: 41.49px !important;
    background: rgba(28,39,44,1);
    border-radius: 1.80381px;
    font-size: 14.5px;
}

.black-btn-bg {
  background: rgba(28,39,44,1);
    border-color: #374B51;
    color: white;
    position: relative !important;
    top: 10%;
}

.toolTip {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;



}
.upload_your_document{
  padding: 1% 0% 0.5% 0%;
}

@media (max-width: 600px)
{
  .padding_top_samplefile {
    padding-top: 2%;
    padding-bottom: 3%;
}
.font_size_16 {

  font-size: 12.5px;

}
.file-text{
  font-size: 12.5px;
}
.btn-sz {

  font-size: 11.5px;
}
.font_size_16_5{
  font-size: 12.5px;
}
}
