/* .textColor{
    color: #44749D;
    text-align: center;
    font-size: 18px;
}
.TtlColumColor{
    color: rgb(225, 166, 123);
    text-align: center;
}
.ColumnNameDisStyle{
  margin: 8px 0px;
}
.dwnloadicon{
  width:40px;
  height:20px;
}
.downloadcontainer{
  padding: 0px;

}
a{
  text-decoration: none;
  color: #44749D;
}
button{
  border: none;
    background-color: white;
    color: #44749D;
}
.CloneStyle{
  margin-left: -9%;
}
.imgStyle{
  width: 21%;
}
.editcontainer{
  padding: 0px;

}
.maincard{
  margin: 40px 37px;
} */
