<div class="wrapper">
  <div></div>
  <div class="login-wrapper">
    <div class="container p-5">
      <div class="d-flex justify-content-between" style="color: white;">
      <h2 style="color: white;">{{'ForgotPassword.Enter_your_Email'|translate}}</h2>
      <a style="cursor: pointer;" (click)="goToLogin()">X</a>
    </div>
      <div class="row">
        <form [formGroup]="ForgotPassword" (ngSubmit)="forgotPassword()" >
          <input type="text" id="email" class="form-control input-box" placeholder="email"
              formControlName="emailId" />
            <div *ngIf="ForgotPassword.get('emailId').errors && ForgotPassword.get('emailId').errors['required'] && ForgotPassword.get('emailId').touched">
              <small style="color: rgb(245, 6, 6);">{{'ForgotPassword.Enter_valid_email'|translate}} </small>
            </div>
            <!-- <div *ngIf="ForgotPassword.get('emailId').errors && ForgotPassword.get('emailId').errors['pattern']">
              <small style="color: rgb(245, 6, 6);">I{{'ForgotPassword.Invalid_email_format'|translate}}</small>
            </div> -->
            <button type="submit" [disabled]="ForgotPassword.invalid" class="btn btn-color mt-2">{{'ForgotPassword.Send_Request'|translate}}</button>
        </form>

    </div>
  </div>
</div>
