$color_1: white;
$color_2: #fff;
$background-color_1: #688f99;
$background-color_2: #7699a2;
$background-color_3: transparent;
$background-color_4: #86a5ad;
$background-color_5: #1c272c;
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #688f99;
  position: relative;
}
.EmtyCol {
	height: 10%;
}
.EmtyRow {
	height: 25px;
}
.login-wrapper {
	border: rgb(135, 167, 195) .5px solid;
	border-radius: 2%;
	background-color: $background-color_2;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(50%, -50%);
  width: 540px;
  height: 580px;
}
.display-center {
	display: flex;
	justify-content: center;
}
.btns {
	border-radius: none;
	background-color: $background-color_3;
	border: none;
	&:focus {
		background-color: $background-color_1;
		border-radius: 2%;
		border: rgb(135, 167, 195) .5px solid;
		outline: 0;
	}
}
.btns-hl {
	background-color: $background-color_4;
	border-radius: 3%;
	border: rgb(135, 167, 195) .5px solid;
	outline: 0;
}
.input-box {
	background-color: $background-color_3;
	color: $color_1;
	border-radius: 0%;

&:-ms-input-placeholder {
	color: $color_1;
}
&::placeholder {
	color: $color_1;
}
}
.link {
	color: $color_1;
	float: right;
	cursor: pointer;
}
.btn-color {
	width: 100%;
	background-color: $background-color_5;
	color: $color_2;
	border-radius: 2%;
}
.c-white {
	color: $color_1;
}
.login-name {
	font-weight: 300;
	display: inline-block;
	padding-bottom: 2px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 50%;
		height: 1px;
		bottom: 0;
		left: 0%;
		border-bottom: 2px solid white;
	}
}
.paddingtb {
	padding: 3% 0;
	margin: 0 5%;
}
@media only screen and (max-width: 600px) {
	.login-wrapper {
		width: 90%;
		display: flex;
		justify-content: center;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		background-color: $background-color_1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 0;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.login-wrapper {
		width: 50%;
	}
}

.login-wrapper .container{
  position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
