$color_1: white;
$color_2: #fff;
$background-color_1: #688f99;
$background-color_2: #7699a2;
$background-color_3: transparent;
$background-color_4: #86a5ad;
$background-color_5: #1c272c;
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #688f99;
  position: relative;

}
.EmtyCol {
	height: 10%;
}
.EmtyRow {
	height: 25px;
}
.login-wrapper {
	border: rgb(135, 167, 195) .5px solid;
	border-radius: 2%;
	background-color: $background-color_2;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(50%, -50%);
  width: 540px;
  height: 580px;
}
.display-center {
	display: flex;
	justify-content: center;
}
.btns {
	border-radius: none;
	background-color: $background-color_3;
	border: none;
	&:focus {
		background-color: $background-color_1;
		border-radius: 2%;
		border: rgb(135, 167, 195) .5px solid;
		outline: 0;
	}
}
.btns-hl {
	background-color: $background-color_4;
	border-radius: 3%;
	border: rgb(135, 167, 195) .5px solid;
	outline: 0;
}
.input-box {
	background-color: $background-color_3;
	color: $color_1;
	border-radius: 0%;
  padding-left: 36px;

&:-ms-input-placeholder {
	color: $color_1;
}
&::placeholder {
	color: $color_1;
}
}
.link {
	color: $color_1;
	float: right;
	cursor: pointer;
}
.btn-color {
	width: 100%;
	background-color: $background-color_5;
	color: $color_2;
	border-radius: 2%;
}
.c-white {
	color: $color_1;
}
.login-name {
	font-weight: 300;
	display: inline-block;
	padding-bottom: 2px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 50%;
		height: 1px;
		bottom: 0;
		left: 0%;
		border-bottom: 2px solid white;
	}
}
.paddingtb {
	padding: 3% 0;
	margin: 0 5%;
}

@media only screen and (max-width: 600px) {
	.login-wrapper {
		width: 90%;
		display: flex;
		justify-content: center;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		background-color: $background-color_1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 0;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.login-wrapper {
		width: 50%;
	}
}

.password_text{
  border-bottom:1px solid #ffff !important;
  text-decoration: none !important;

}

.login_image_style{
  padding: 7% 23%;
}

.input-head
{
  position:relative
}
.input-password-head{
  position:relative
}
.usericon {
  position: absolute;
  left: 7px;
  top: 5px;
}

.eye-icon{
  position: absolute;
  top: 8px;
  left: 92%;
  color: #ffff;
}

.userpassword {
  position: absolute;
  left: 7px;
  top: 5px;
}
.portal_list1{
  list-style: none;
  color:#ffff;
 border: 1px solid rgba(255, 255, 255, 0.27);
 background-color: rgba(255, 255, 255, 0.12);
 text-align: center;
 padding: 9px 5px;

 border-radius: 5px;
}
.portals{
	list-style: none;
	padding: 9px 5px;
}

.portal_name{
	position: relative;
    top: 9px;
}



.portal_btns {
	background-color: #688f99;
	border: 1px solid #FFFFFF45;
	border-radius: 3px;
	margin-left: 25px;
}

.checked{
	background: rgba(255, 255, 255, 0.12);
}