<div class="overflow_hidden">
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center pading_top_bottom text_aligin">
    <img src="/assets/profile/password_changed.svg" alt="" class="img-fluid " />
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_4 text_aligin">
    <span class="font_style dark_blue font_size_24  ">{{'PasswordChanged.Password_Changed'|translate}}</span>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_4 text_aligin">
    <span class="font_size_16 font_style">{{'PasswordChanged.message1'|translate}}</span>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12  padding_all">
    <button class="input_field button_color font_style font_size_16 white" routerLink="/login"  (click)="closeDialog(false)">{{'PasswordChanged.login_with'|translate}}</button>
  </div>
</div>
</div>
