.overflow_hidden{
  overflow-x: hidden;
  }
  .input_field{
    width: 80%;
    height:40px ;
  }
.padding_all{
  padding: 0% 0% 0% 17%;
}
.white{
  color: white;
}
.dark_blue{
  color: #688F99;
}
.font_size_16{
  font-weight: 400;
font-size: 13.5px;
}
.button_color{
  background: #374B51;
border-radius: 2px;
}
.font_style{
  font-family: 'Inter';
font-style: normal;
}
.font_size_24{
  font-weight: 500;
font-size: 21.5px;

}
.pading_top_bottom{
  padding: 4% 0% 4% 0%
}
.padding_bottom_4{
  padding-bottom: 4%;
}
.text_aligin{
  text-align: center;
}
@media only screen and (max-width: 600px)  {
  .font_size_24{

    font-size: 16.5px;
}
.font_size_16 {

  font-size: 12.5px;
}
}
