/* 
.form_side{
  margin: 18px 41px;
  width: 24%;
  height: 599px;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 38%);
  border-radius: 3px;
  }

  .table_side{
    margin: 18px -17px;
    width: 70%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 38%);
    border-radius: 3px;
    overflow: auto;
  }
  ::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
}

  .form_header{
    background-color: #E3EAF0;
    color: #44749D;
    height: 7vh;
    margin-left: -13px;
  }

  .table_header{
    background-color: #E3EAF0;
    color: #44749D;
    width: 70vw;
    height: 7vh;
    margin-left: -11px;
  }
  .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  p{

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 11px 12px;

  }

  .field_dropdown{

      box-sizing: content-box;
      display: block;
      margin: 0;
      width: 25vw;
      margin-left: -13px;
      margin-top: 1px;
  }


  .date_field1{
      margin: 14px;
      height: 40px;
      width: 131px;
  }

  .btn_primary1{

    width: 90%;
    margin-top: 24px;
    height: 36px;
    color: #44749D;
    background-color: #ffffff;
    border: 2px solid #44749D;
  }
  .btn_primary2{
    margin-top: 24px;
    width: 90%;
    height: 36px;
    color: #ffffff;
    background-color: #44749D;
    border:none;
  }

  table {
    width: 100%;
  }
  th {
    background-color: #E3EAF0 !important;
    color:#44749D;
  }
  .example-chip-list{
    width: 95%;
  }
  .MultipleSelectInputStyle{
    border: 1px solid;
      margin-left: 1px;
      width: 95%;
  }
  .example-full-width {
    width: 100%;
  }

  .fromrow{
    height: 423px;
    overflow-y: auto;
    overflow-x: hidden;

  }



  .static_input{
    width: 328px;
    height: 38px;
    margin-left: 7px;
  }

  .static_input1{
    width: 309px;
    height: 38px;
    margin-left: 0px;
  }


  .type_select{
    list-style-type: none;
    display: flex;
  }

  .dateperiod{
    width:334px;
    border: 1px solid rgba(0,0,0,0.4);
    height: 37px;
    padding: 6px;
  }
  .EmtyDiv{
    height: 12px;
  } */
