
$backround_color: #688F99;
$font_family_inter: 'Inter';
.bk_color
{
  background: #F7F7F7;
}
.no-data-found_cbt
{
  position: absolute;top: 33%;left: 45%; 
}
.purchase_stock_header {
  height: 130px;
  background: $backround_color;
}

.gap {
  height: 22px;
}

// .download {
//   margin-left: 67%;
// }

.hearderStyle {
  font-family: $font_family_inter !important;
  font-style: normal;
  font-weight: 400;

}

.donwn {
  position: relative;
  top: 20px;

}

.downloadpaper {
  position: absolute;
  right: 50%;
  top: 107%;
}

.img_height_width {
  width: 20.15px;
  height: 20.16px;
}

.purchase_stock_button {
  align-items: center;

  border-radius: 2px;
  color: #FFFFFF;
  font-family: $font_family_inter !important;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 0px 15px;
  width: 156px;
  height: 36px;
  background: #374B51;
  border-radius: 2px;

}


.tableHeader {
  background: #E7EDEE !important;


}

.rotate {
  transform: rotateZ(180deg);
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 6.7vh;
}

.mat-mdc-table .mdc-data-table__row {
  height: 5.7vh;
}

::ng-deep .mat-mdc-paginator-range-actions {
  justify-content: end !important;

}

.scroll_bar {
  overflow-y: auto;
  height: 550px;
  overflow-x: hidden;
}

::ng-deep {
  .mat-mdc-paginator-container {
    justify-content: space-between !important;
    background-color: #e7edee !important;
min-height: fit-content;
flex-wrap: revert !important;
align-items: center !important;
  }
}

th {
  // font-size: 16px;
  white-space: nowrap;
  color: #688F99 !important;
  font-size: 14.5px !important;
    font-weight: 400 !important;
}

td {
  font-size: 14.5px !important;
    font-weight: 400 !important;
    white-space: nowrap;

  background: #FFFFFF;


  border-bottom: 1px solid #E7EDEE;
}

.pagenationinput {


  height: 25px;
  width: 55px;
  background: #FFFFFF;
  border: 1px solid #D2CFCF;
  border-radius: 4px;
}



.ScrollBarStyle {
  // margin-top: 1%;
  overflow-y: auto;
  height: 64vh;
  background: white !important;
  &::-webkit-scrollbar {
    width: 5px!important;
  height: 6px!important;
  overflow-y: scroll;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px #707070;
  }
  &::-webkit-scrollbar-thumb {
    background: #8a8b8b;
  border-radius:10px;
  }
}
.space-btwn
{
padding-bottom: 100%;
}
.margin_left_right {
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 1%;
  position: relative !important;
}



.pagenationinput {


  height: 41px;
  width: 61px;
  background: #FFFFFF;
  border: 1px solid #D2CFCF;
  border-radius: 4px;
}

.positionfixed {
  position: absolute;
  bottom: 1.5vh;
  right: 37%;
}

.Approved {
  background: #EBFBF0;
  border-radius: 30px;
  color: #0A672A;
  height: 23px;
  width: 100px;
}

.Submitted {
  background: rgba(50, 147, 217, 0.15);
  border-radius: 30px;
  color: rgba(50, 147, 217, 1);
  height: 23px;
  width: 100px;
}

.Failed {
  height: 23px;
  width: 73px;
  background: #FFE5E5;
  border-radius: 30px;
  color: #FF0000;
  margin-left: 10%;

}

.Rejected {
  height: 23px;
  width: 100px;
  background: #FFE5E5;
  border-radius: 30px;
  color: #FF0000;
}

.approve_btn {
  padding: 0%;
}

.tabledata {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12ch;
}

.tabledata2 {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9ch;
  padding: 11px 0px;
}

//purchase stock downlad





.Purchase_stock {
  font-family: $font_family_inter !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.mat_height_width {
  width: 373px;
  z-index: 200;
  position: absolute;
  top: 45%;
}

.header_downlad {
  height: 41px;
  background: #E7EDEE;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
}

.margin_download {
  margin: 3%;

}

.download_report {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  align-items: center;
  text-align: center;



  color: #688F99;

}

.select_colums {
  padding: 5%;
}

.purchase_stock_title {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  margin-left: 1%;

}

.gap {
  height: 22px;
}

.header_bg {
  border: 0.5px solid #688F99;
  border-radius: 2px;
}


.stock_button {


  border-radius: 2px;
  color: #FFFFFF;
  font-family: "Inter" !important;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 0px 15px;
  width: 109px;
  height: 36px;
  background: #374B51;
  border-radius: 2px;
  text-align: unset;


}

.purchase_stock_button_cancel {
  width: 78px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border: 1px solid #374B51;
  border-radius: 2px;
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #374B51;

}

.expand_width {
  padding: 15px 0px 12px 40px;
  position: absolute;
  z-index: 200;
  top: 179%;
  width: 333px;
}


.download_filter {
  z-index: 200;
  transform: translateY(-57px);
}



input.mat-mdc-chip-input {
  flex: 1 0 150px;
  margin-left: 20px;
}

.image_fixed {
  transform: translate(40vh, -13px);
}

.example-section {
  margin: 12px 0;
}

.approve_reject {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 3px 6px;
  color: #FFFFFF;
}

.approve {
  background: #20C95A;
  border: 0px #20C95A solid;
}

.reject {
  background: #FF5065;
  border: 0px #FF5065 solid;
}

.pagenationinput {


  height: 25px;

  width: 55px;
  background: #FFFFFF;
  border: 1px solid #D2CFCF;
  border-radius: 4px;
}


::ng-deep .mat-mdc-paginator-range-actions {
  justify-content: end !important;
}

::ng-deep .mat-mdc-paginator-container {
  justify-content: space-between !important;
  background-color: #e7edee !important;
}

td {
  font-size: 14.5px !important;
}

::ng-deep.mat-mdc-text-field-wrapper {
  height: 25px !important;
  width: 65px !important;
  align-items: center !important;
}

:host::ng-deep.mat-mdc-paginator-page-size-label {
  margin: 8px 4px !important;
  font-size: 16px;
}

:host::ng-deep.mdc-notched-outline {
  display: flex;
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 66%;
  text-align: left;
  pointer-events: none;
}

:host::ng-deep.mat-mdc-paginator-range-label {
  margin: 0 32px 0 24px;
  font-size: 16px;
}



@media only screen and (max-width: 1229px) and (min-width: 768px) {

  .positionfixed {
    position: absolute;

    right: 40%;
  }
}

@media only screen and (max-width: 840px) {

  .positionfixed {
    display: none;
  }
}

.no_data_found {
  position: absolute;
  top: 33%;
  left: 46%;
}

.no_data_found_inner {
  display: inline-grid;
  text-align: center;
}

.no_data_found_inner_side {
  font-weight: 400;
  font-size: larger;
  padding-top: 2%;
}
.zoom_150{
  padding: 1% 0%;
}
@media only screen and (max-width: 1400px) and (min-width: 1200px)  {

  ::ng-deep {
    .mat-mdc-paginator-container {
      justify-content: space-between !important;
      background-color: #e7edee !important;
      height: 7vh !important;
    }
  }

  .pb-3 {
    padding-bottom: 0.5rem !important;
  }

  .mat-mdc-table .mdc-data-table__header-row {
    height: 7vh !important;
  }

  .mat-mdc-table .mdc-data-table__row {
    height: 5.5vh !important;
  }

  .mat-mdc-paginator-container {
    height: 7h !important;
  }

  .ScrollBarStyle {
    height: 63vh;
  }

  .positionfixed {
    // bottom: 0.5rem;
    right: 41% !important;
  }
}
.mdc-data-table__table{
  // min-height: 100%;
}
.payment_type{
  position: relative;
    right: 4.5vh;

}
.ps_2{
  position: relative;
    top: 5px;
}
.h_w{
  height: 26px !important;
    width: 26px !important;
    cursor: pointer;
}
.cursor{
  cursor: pointer;
}

:host::ng-deep .mat-mdc-option.mdc-list-item {
  align-items: center;

  font-size: 12.5px !important;
  margin: auto !important;
  width: 50% !important;

  padding: 10px !important;
}
:host::ng-deep .mat-mdc-paginator-page-size-select {
  margin: 0 4px;
  width: 67px !important;
  height: 38px;
}
/* styles.css */
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  font-size: 11px !important; /* Adjust the font size as per your requirement */
}


@media only screen and (max-width: 600px)  {
  .mobilepadding_bottom2
  {
    padding-bottom: 2%;
  }
  :host::ng-deep  .mat-mdc-paginator-container{
      // flex-wrap: unset !important;
      padding: 0 0px !important;
      min-height: 5.5vh !important;
    }

    :host::ng-deep .mat-mdc-paginator-range-label {

      display: none !important;
  }

    :host::ng-deep .mat-mdc-paginator-page-size-label {

  display: none !important;
}

.mat-mdc-table .mdc-data-table__header-row{
  height: 5.5vh !important;

}
.mat-mdc-table .mdc-data-table__row{
  height: 5vh !important;
}
.mat-mdc-paginator-container {

  height: 5.5vh !important;
}

td{
  font-size: 11.5px !important;
  white-space: nowrap;
}
th{

  font-size: 12.5px !important;
white-space: nowrap !important;
}
.margin_left_right{
  margin-left: 3%;
  margin-right: 3%;

}
.approve_reject{

  font-size: 11.5px;
}
.mobilejustify
{
  justify-content: start !important;
}
.ScrollBarStyle{

  height: 56vh;
  &::-webkit-scrollbar {
    width: 2px!important;
  height: 2px!important;
  overflow-y: scroll;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px #707070;
  }
  &::-webkit-scrollbar-thumb {
    background: #8a8b8b;
  border-radius:10px;
  }
}
}
tr:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px #FBFBFB;

  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  background: #FBFBFB !important;
}

.arrow{
  height: 15px;
  margin: auto 1%;
}