.card {

    background: #FFFFFF;
    border-radius: 4.21px;
  border: 0.702px solid rgba(192, 192, 192, 0.53);
  box-shadow: 0px 0px 5.61333px 0px rgba(0, 0, 0, 0.25);

    padding-left: 3%;
    padding-right: 3%;
padding-bottom: 1.3rem;
}

.margin_left_right {
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.hieght_20
{
  height: 20px;
}
// .gap {
//     height: 10px;
// }

// .card_gap {
//     height: 10px;
// }

.padding_bottom_2{
  padding: 5px;
}
.ScrollBarStyle {
  padding: 1% 2%;
    overflow-y: auto;
    height: 68vh;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px!important;
    height: 6px!important;
    overflow-y: scroll;
    background: #f7f7f7;
    box-shadow: inset 0 0 4px #707070;
    }
    &::-webkit-scrollbar-thumb {
      background: #8a8b8b;
    border-radius:10px;
    }
}

.bg_color {
    background: #F7F7F7 !important;
    padding-bottom: 100%;
}

.padding_company_name {
    padding: 4% 5% 0px 5%;
}

.checkbox {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;

    border: 1.5px solid #688F99;
    border-radius: 2px;

}

.padding_checkbox {
    padding: 4% 5% 0% 5% !important;
}

.company {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    align-items: center;
    color: #688F99;
    width: 300px;
}


.padding_stock_aviable_paper {
    padding: 0% 4% 0px 5%;
    margin-top: 8%;

}

.stock {
    background: #88BAF0;
    border-radius: 2px;
}

.available {
    background: #FF9B6B;
    border-radius: 2px;
}

.paper {
    background: #B7E258;
    border-radius: 2px;
}

.stock_color_authority_paper_details {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    // width: 100px;
    white-space:nowrap ;
    color: #FFFFFF;
}

.stock_color_authority_paper_details_14_5 {
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  // width: 100px;
  white-space:nowrap ;
  color: #FFFFFF;
}
.padding_body {
    padding: 5%;
    margin-right: 5%;
}

.stock_paper {
    padding-top: 5%;
}

.padding_stock {
    padding: 0px 0px 0px 9px
}

.paper_detail_width {

    padding: 0%;
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {

    .ScrollBarStyle {

        overflow-y: auto;
        height: 74vh;
    }

}

.card-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 132px;
}

@media only screen and (max-width: 600px)
{
  .margin_left_right {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
  .max_with{
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6ch !important;
}
  .stock_color_authority_paper_details{

    font-size: 10px;
  }
  .company{

    font-size: 13.5px;}
  .stock_color{
    font-size: 10.5px;
  }
  .ScrollBarStyle{

    padding: 2% 4%;
    &::-webkit-scrollbar {
      width: 0px !important;
      height: 0px !important;
      overflow-y: scroll;


  }



}
.checkbox {
  width: 16px;
  height: 16px;}
}
.max_with {

  cursor: pointer;
  display: inline-block;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8ch;

}
.cursor{
  cursor: pointer;
}
