$color_1: rgb(111, 147, 186);
$color_2: white;
$color_3: #aaa3a3;
$background-color_1: #688f99;
$background-color_2: white;

.headercolor {
  color: $color_1;
}

.cardIcon {
  max-width: 20%;
}

.btnStyle {
  height: 70%;
  max-width: 29%;
}

.editcolo {
  color: $color_2;
  border: none;
  padding: 0;
}

.clonebtnstyle {
  color: $color_3;
  background-color: $background-color_2;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color_2;
}

/** UI CHANGES-CBT**/

.flex-display {
  display: flex;

  .role-name {
    color: #688F99;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 4px 0px;
  }
  span{
    margin-left: 10px;
    color: #3DAAFA;
    font-weight: 400;
    font-size: 10px;
    line-height: 35px;
  }
}
.dot{
  height: 6px;
  width: 6px;
  background-color: #0FC263;
  border-radius: 50%;
  display: inline-block;
}
.green_status{
  color: #0FC263;
  font-weight: 500;
  font-size: 13px;
  margin: 4px 0px;

}
.red_status{
  color: #EB4235;
  font-weight: 500;
  font-size: 13px;
  margin: 4px 0px;
}
.role_id{
  color: #444444;
  font-weight: 400;
  font-size: 10px;
  margin: 4px 0px;
}
.margin_bottom25px{
  margin-bottom: 25px;
}

.bottom-card {
  padding: 0;
  .deleteIcon {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0px;

    h5 {
      font-weight: 400;
      font-size: 10px;
      color: #888888;
      margin: 0;
    }
  }

  .cloneIcon {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0px;

    h5 {
      font-weight: 400;
      font-size: 10px;
      color: #888888;
      margin: 0;
    }
  }

  .editIcon {
    display: flex;
    justify-content: space-evenly;
    background-color: $background-color_1;
    padding: 4px 0px;
    border-radius: 2px;
    color: #fff;

    h5 {
      font-weight: 400;
      font-size: 10px;
      color: #888888;
      margin: 0;
    }
  }
}
