/* .headercolor{
    color: rgb(111, 147, 186);
}
.cardIcon{
    max-width: 30%;
}
.btnStyle{
    height: 70%;
    max-width: 29%;
}
.editcolo{
    color: white;
    background-color: rgb(91, 132, 176);
    border: none;
}
.clonebtnstyle{
    color: #aaa3a3;
    background-color: white;
    border: 1px solid;
}

a{
    text-decoration: none;
    color: white;
} */
