.popup-header {

  padding: 13px 24px 13px 24px
}

.font_style{
  font-family: 'Inter';
font-style: normal;
}
.font_size_24{
  font-weight: 500;
font-size: 21.5px;

}
.dark_blue_color{
  color: #688F99;
}
.font_size_16{
  font-weight: 400;
font-size: 13.5px;
}

.text_align{
  text-align: center;
}

.overflow_hidden{
overflow-x: hidden;
}
.pading_all{
  padding: 0% 0% 0% 20%;
}
.input_field{
  width: 80%;
  height:40px ;
}
.fixed_image_old{
  position: absolute;
  right: 17%;
  top: 11%;
  z-index: 100;
}
.fixed_image_confirm
{
  position: absolute;
  right: 17%;
  top: 11%;
  z-index: 100;
}
.fixed_image_old_new{
  position: absolute;
  right: 17%;
  top: 10%;
  z-index: 100;

}
// .error_message_come{
//   position: absolute;
//   right: 10%;
//   top: 15%;
//   z-index: 100;
// }
input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }
.position_relative{
  position: relative;
}
.button_color{
  background: #374B51;
border-radius: 2px;
}
.white{
  color: white;
}
.padding_bottom_4{
  padding-bottom: 4%;
}
.padding_bottom_1{
  padding-bottom: 1%;
}
.padding_bottom_3{
  padding-bottom: 3%;
}
.cursor{
  cursor: pointer;
}
.errormessage
{


  width: 80%;

}
.padding_bottom_2rem
{
  padding-bottom: 2rem;
}
@media only screen and (max-width: 600px)  {
  .font_size_24 {

    font-size: 16.5px;
}
.font_size_16{

  font-size: 12.5px;
}


.close_img
{
  height: 14px !important;
}
.popup-header{
  padding: 8px 12px 8px 12px;
}
.input_field {
 font-size: 11.5px;
}
.mobileScrollbar
{
  height: 74vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 2px !important;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
  }
  &::-webkit-scrollbar-thumb {
    background: #dfeaf3;
    border-radius: 10px;
  }
}
.fixed_image_old_new {

  top: 6%;

}
}
