<div class="overflow_hidden">
  <div class="popup-header">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-end">
        <img src="/assets/purchase_stock/cross_button.svg" alt="" class="img-fluid cursor close_img"
          (click)="closeDialog(false)" />
      </div>
    </div>
  </div>
  <div class="mobileScrollbar padding_bottom_2rem">
   <form action="" [formGroup]="changePassword" (ngSubmit)="changePwd()">

    <div class="row" >
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_4 text_align">
        <img src="/assets/profile/key.svg" alt="" class="img-fluid cursor" />
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_4">
        <span class="font_style font_size_24 dark_blue_color">{{'ChangePasswordPopup.Change_password'|translate}}</span>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_1">
        <span class="font_size_16 font_style">{{'ChangePasswordPopup.message1'|translate}} </span>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center padding_bottom_3">
        <span class="font_size_16 font_style"> {{'ChangePasswordPopup.message2'|translate}}</span>
      </div>
      <div class="row  ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all padding_bottom_1 ">
          <span class="font_style font_size_16 ">{{'ChangePasswordPopup.Old_Password'|translate}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all position_relative padding_bottom_3">
          <input class="input_field" placeholder="" [type]="showPasswordOld ? 'text' : 'password'"  formControlName="oldPassword">
          <img src="assets/profile/icon_hidden.svg" alt="" class="fixed_image_old img-fluid"
            (click)=" togglePasswordVisibilityOld()" *ngIf="showPasswordOld===false">
          <img src="assets/profile/icon_show.svg" alt="" class="fixed_image_old img-fluid"
            (click)=" togglePasswordVisibilityOld()" *ngIf="showPasswordOld===true">
            <div  class="errormessage"
            *ngIf="changePassword.get('oldPassword').errors && changePassword.get('oldPassword').errors['required'] && changePassword.get('oldPassword').touched">
           <small style="color: rgb(245, 6, 6);">{{'ChangePasswordPopup.Enter_old_password'|translate}}</small>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all padding_bottom_1 ">
          <span class="font_style font_size_16 ">{{'ChangePasswordPopup.New_Password'|translate}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all position_relative padding_bottom_3">
          <input class="input_field" placeholder="" [type]="showPasswordNew ? 'text' : 'password'" formControlName="newPassword">
          <img src="assets/profile/icon_hidden.svg" alt="" class="fixed_image_old_new  img-fluid"
            (click)=" togglePasswordVisibilityNew()" *ngIf="showPasswordNew===false">
          <img src="assets/profile/icon_show.svg" alt="" class="fixed_image_old_new  img-fluid"
            (click)=" togglePasswordVisibilityNew()" *ngIf="showPasswordNew===true" >

            <div  class="errormessage"
            *ngIf="changePassword.get('newPassword').errors && changePassword.get('newPassword').errors['required'] && changePassword.get('newPassword').touched">
            <small style="color: rgb(245, 6, 6);">{{'ChangePasswordPopup.Enter_new_password'|translate}}</small>
          </div>
          <div class="errormessage"
              *ngIf="changePassword.get('newPassword').errors && changePassword.get('newPassword').errors['pattern']">
              <small style="color: rgb(245, 6, 6);">{{'ChangePasswordPopup.message3'|translate}}</small>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all padding_bottom_1">
          <span class="font_style font_size_16 ">{{'ChangePasswordPopup.Confirm_Password'|translate}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all position_relative padding_bottom_3">
          <input class="input_field" placeholder="" [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword">
          <img src="assets/profile/icon_hidden.svg" alt="" class="fixed_image_confirm img-fluid"
            (click)=" togglePasswordVisibilityConfirm()" *ngIf="showPasswordConfirm===false">
          <img src="assets/profile/icon_show.svg" alt="" class="fixed_image_confirm img-fluid"
            (click)=" togglePasswordVisibilityConfirm()" *ngIf="showPasswordConfirm===true">
            <div  *ngIf="changePassword.get('confirmPassword').errors && f['confirmPassword'].errors['passwordMismatch']">
              <small style="color: rgb(245, 6, 6)">{{'ChangePasswordPopup.Confirm_Password_does_not_match'|translate}} </small>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 pading_all ">
          <button class="input_field button_color font_style font_size_16 white" [disabled]="changePassword.invalid">{{'ChangePasswordPopup.Change_Password'|translate}}</button>
        </div>
      </div>
    </div>

   </form>
  </div>
</div>
