<div class="wrapper">
  <div></div>
  <div class="login-wrapper">
    <div class="container p-5">
      <div class="d-flex justify-content-between" style="color: white;">
      <h2 class="head-line" >{{'ResetPassword.Reset_password'|translate}}</h2>
      <a style="cursor: pointer;" (click)="goToLogin()">X</a>
    </div>
      <div class="row">
        <form [formGroup]="CommonResetPassword" (ngSubmit)="CommonForgetPassword()" >
          <input type="text" id="userName" class="form-control input-box"
             value="{{userName}}" readonly/>
            <br>
          <input type="hidden" id="identity" class="form-control input-box"
            formControlName="identity" value="{{userIdentity}}" />
            <div class="position_realtive">
          <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-box" [placeholder]="'ResetPassword.NewPasswordPlaceholder' | translate"
              formControlName="newPassword"  />
              <mat-icon class="eye-icon" matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility':'visibility_off'}}</mat-icon>
              </div>
            <div *ngIf="CommonResetPassword.get('newPassword').errors && CommonResetPassword.get('newPassword').errors['required'] && CommonResetPassword.get('newPassword').touched">
              <small style="color: rgb(210 5 5);">{{'ResetPassword.Enter_new_password'|translate}}</small>
            </div>
            <div *ngIf="CommonResetPassword.get('newPassword').errors && CommonResetPassword.get('newPassword').errors['pattern']">
              <small style="color: rgb(210 5 5);">{{'ResetPassword.Message1'|translate}}</small>
            </div>
            <br>
            <div class="position_realtive">
            <input [type]="showPasswords ? 'text' : 'password'"  class="form-control input-box"[placeholder]="'ResetPassword.confirmPasswordPlaceholder' | translate"
              formControlName="confirmPassword"/>
              <mat-icon class="eye-icon" matSuffix (click)="togglePasswordVisibilitys()">{{showPasswords?'visibility':'visibility_off'}}</mat-icon>
            </div>
              <div *ngIf="CommonResetPassword.get('confirmPassword').errors && f['confirmPassword'].errors['passwordMismatch']">
                <small style="color: rgb(210 5 5);">{{'ResetPassword.Message2'|translate}}</small>
              </div>
            <br>
            <button type="submit" [disabled]="CommonResetPassword.invalid" class="btn border-cbt btn-color mt-2"  >{{'ResetPassword.Reset_password'|translate}}</button>
        </form>

    </div>
  </div>

</div>
