$color_1: white;
$color_2: #fff;
$background-color_1:#688f99;
$background-color_2: #688f99;
$background-color_3: #688f99;
$background-color_4: #688f99;
$background-color_5: #688f99;

.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #688f99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}
.position_realtive{
  position: relative;
}
.eye-icon{
  position: absolute;
  top: 19%;

  color: white;
  right: 2%;

  }
.login-wrapper {
	border: rgb(135, 167, 195) .5px solid;
	border-radius: 2%;
	background-color: $background-color_2;
	width: 40%;
}
.display-center {
	display: flex;
	justify-content: center;
}
.btns {
	border-radius: none;
	background-color: $background-color_3;
	border: none;
	&:focus {
		background-color: $background-color_4;
		border-radius: 2%;
		border: rgb(135, 167, 195) .5px solid;
		outline: 0;
		background-color: $background-color_4;
		border-radius: 2%;
		border: rgb(135, 167, 195) .5px solid;
		outline: 0;
	}
}
.btns-hl {
	background-color: $background-color_4;
	border-radius: 3%;
	border: rgb(135, 167, 195) .5px solid;
	outline: 0;
}
.input-box {
	background-color: $background-color_3;
	color: $color_1;
	border-radius: 0%;

&:-ms-input-placeholder {
	color: $color_1;
}
&::placeholder {
	color: $color_1;
}
}
.link {
	color: $color_1;
	float: right;
	cursor: pointer;
}
.btn-color {
	width: 100%;
	background-color: $background-color_5;
	color: $color_2;
	border-radius: 2%;
}
.c-white {
	color: $color_1;
}
.login-name {
	font-weight: 300;
	display: inline-block;
	padding-bottom: 2px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 50%;
		height: 1px;
		bottom: 0;
		left: 0%;
		border-bottom: 2px solid $color_1;
	}
}
.paddingtb {
	padding: 3% 0;
	margin: 0 5%;
}
@media only screen and (max-width: 600px) {
	.login-wrapper {
		width: 90%;
		display: flex;
		justify-content: center;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		background-color: $background-color_1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 0;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.login-wrapper {
		width: 50%;
	}
}

.border-cbt{
	border: 1px solid #ced4da !important;
}
