.arabic_style_all_popup{
  direction: ltr;
}
.font_size_18 {
    font-weight: 500;
    font-size: 15.5px;
}
.allocate_stock_color {
    color: #688F99;
}
.font_style {
    font-family: 'Inter';
    font-style: normal;
}
.popup-header {
    background-color: #E7EDEE;
    padding: 13px 24px 13px 24px
}
.padding_top_bottom{
padding-top: 13%;
    padding-bottom: 13%;}

    .green_font_style{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary color */

color: #688F99;
    }
