<div class="arabic_style_all_popup">
  <div class="popup-header">
    <div class="row">
      <div class=" col-10 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6   d-flex justify-content-start ">
        <span class="font_style  allocate_stock_color font_size_18">{{'Purchase_stock_view_popup.Payment_Status'|translate}}</span>
      </div>
      <div class="col-2 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex justify-content-end ">
        <img src="/assets/purchase_stock/cross_button.svg" alt="" class="img-fluid cursor" (click)="closeDialog()">
      </div>
    </div>
  </div>
  <div class="padding_top_bottom">

    <div class="d-flex justify-content-center">
      <img src="assets/purchase_stock/success.svg" alt="">
    </div>
    <br>

    <div class="d-flex justify-content-center green_font_style">{{'Purchase_stock_view_popup.Payment_Successful'|translate}}</div>
  </div>
</div>
