.bk_color{
  background: rgba(247, 247, 247, 1);
  height: 100%;
}
.margin_left_right{
  padding: 0vw 4vw;
}
.position_relative{
  position: relative;
}
.border{
    border: 0px red soild;
}

.padding_1 {
  padding: 0.3rem
}


.ScrollBarStyle {
  padding: 0.2rem 1rem 0.2rem 1rem;
	overflow-y: auto;
    overflow-x: hidden;
	height: 90vh;

&::-webkit-scrollbar {
	width: 5px!important;
height: 6px!important;
overflow-y: scroll;
background: #f7f7f7;
box-shadow: inset 0 0 4px #707070;
}
&::-webkit-scrollbar-thumb {
	background: #8a8b8b;
border-radius:10px;
}
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .margin_left_right{
    padding: 0rem 3rem;
  }
  .padding_1{
    padding: 0.2rem
  }
  .adminActions {
    position: absolute;
    right: 0% !important;
    top: 2%;
}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 480px) and (max-width: 767px) {
  .ScrollBarStyle {
    height: 50vh;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 767px) and (max-width: 1024px){
  .ScrollBarStyle {
    height: 72vh;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1200px) and (max-width: 1400px){
  .ScrollBarStyle {
    height: 82vh;
  }
}

/* Media Query for Large screens */
@media (min-width: 1280px) {
  body {
      background-color: white;
  }
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .adminActions {
    position: absolute;
    right: 1%;
    // left: 0% !important;
    top: 2% !important;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .adminActions {
    position: absolute;
    right: 1% ;
    // left: 0% !important;
    top: 2% !important;
  }
}
.adminActions {
  position: absolute;
  right: 1%;
  // left: 1%;
  top: 2%;
}

  .adminButton {
    height: 45px;
    width: 45px;

    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;

  }

    .adminButton i {
      font-size: 22px;
    }

  .adminButtons {
    position: absolute;
    width: 100%;

    text-align: center;
  }

    .adminButtons a {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-decoration: none;
      margin: 10px auto 0;
      line-height: 1.15;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      position: relative;
      box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
      background: white;
    }

      .adminButtons a:hover {
        transform: scale(1.05);
      }


      .adminActions a i {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    display: flex;
    justify-content: center;

      }

  .adminToggle {
    -webkit-appearance: none;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    margin: 0;
    width: 78%;
    height: 77%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
  }

    .adminToggle:hover {
      box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
    }

    .adminToggle:checked ~ .adminButtons a {
      opacity: 1;
      visibility: visible;
    }
.dash_img{
  height: 54px;
  width: 54px;
}


a {
  font-size:25px;
  color: #0bd;
  text-decoration: none;
}
.tooltip-text {
   visibility: hidden;
  position: absolute;
  z-index: 10;
  width: -moz-fit-content;
  width: 130px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 14px 11px 17px;


}
.backgroundstyle{
 background-color:#D2D2D2;
}
.hover-text:hover .tooltip-text {
  cursor:pointer;
  visibility: visible !important;
}
#left{
  right: 82px;
}
.row{
 padding: 0px 0px 21px 0px;
}
.roate_img{
  transform: rotate(0deg);
  transition: all 0.5s;
 }
.rotating_image{
  transform: rotate(90deg);
 }
 .over_chart_position{
  position: relative;
  right: 28px;
 }


 .toast {
  margin-top: 45px !important;
}

// quick link end
@media only screen and (min-width: 1400px){
  .padding_zero_left{
    padding-left: 0px;
  }
}
@media (max-width: 600px)
{
.margin_left_right{
  padding: 0rem 0rem;
}

.ScrollBarStyle {
  height: 80vh;
  padding-bottom: 25%;
  &::-webkit-scrollbar {
    width: 0px !important;
    overflow-y: scroll;

  }
  &::-webkit-scrollbar-thumb {

    border-radius: 10px;
  }
}
.adminActions {
  display: none !important;
}
}
