

.Purchase_stock {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .mat_height_width {
    width: 373px;
    z-index: 200;
    position: absolute;
      top: 45%;
  }
  
  .header_downlad {
    height: 41px;
    background: #E7EDEE;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
  }
  
  .margin_download {
    margin: 3%;
  
  }
  
  .download_report {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    align-items: center;
    text-align: center;
  
  
  
    color: #688F99;
  
  }
  
  .select_colums {
    padding: 5%;
  }
  
  .purchase_stock_title {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
    margin-left: 1%;
  
  }
  
  .gap {
    height: 22px;
  }
  
  .header_bg {
    border: 0.5px solid #688F99;
    border-radius: 2px;
  }
  
  
  .stock_button {
    
  
    border-radius: 2px;
    color: #FFFFFF;
      font-family: "Inter" !important;
      font-weight: 400;
      font-size: 16px;
      border: none;
      padding: 0px 15px;
      width: 109px;
      height: 36px;
      background: #374B51;
      border-radius: 2px;
      text-align: unset;
  
  
  }
  
  .purchase_stock_button_cancel {
    width: 78px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border: 1px solid #374B51;
    border-radius: 2px;
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  
    display: flex;
    align-items: center;
    text-align: center;
    color: #374B51;
  
  }
  
  .expand_width {
    padding: 15px 0px 12px 40px;
    position: absolute;
    z-index: 200;
    top: 179%;
    width: 333px;
  }
  
  
  .download_filter {
    z-index: 200;
    transform: translateY(-57px);
  }
  
  
  
  input.mat-mdc-chip-input {
    flex: 1 0 150px;
    margin-left: 20px;
  }
  
  .image_fixed {
    position: relative;
    left: 91%;
    bottom: 29%;
  }
  
  .example-section {
    margin: 12px 0;
  }