.arabic{
  .date_position_report{
    right: -20% !important;
  }
  .datepickerStyle_report{
    left: -2% !important;


  }
  .recent_digital_paper_margin{
    margin-left: -8% !important;
    margin-right: 1% !important;
  }
  .datepickerStyles_report{
    left: -2% !important ;

  }
  .margin_input_form_report{
    margin: 2% 9% 5% 2% !important;
  }
  .arabic_style_all_popup{
    direction: rtl !important;
  }
  .language_synbol {

    left: 1% !important;
}
.user_mangement_margin_left_right{
  margin-right: 3.3% !important;

}
.search_text{
  padding-right:  1% !important;
}
.search_text_padding{
  padding-right: 7% !important;
}
.language_synbol {
  position: absolute;

}
.datepickerStyle_search{

    left: -8% !important;
    top: -15%;

}
.report_mobile{

  margin-left: 5% !important;
    margin-right: 2% !important;
}

.language-ddl {

  right: 75% !important;
}


.search_filter {

  left: 1vw !important;
  top: 11px !important;
}
.position_relative_11_paper_details {

  right: -11% !important;
}
.underline_bulk {

  right: 1% !important;
}
.manual_bulk_main {

  margin-right: 1.5% !important;
}
.underline_generate_paper {

  left: 27.5% !important;
}
.paperDetailsDynamicFieldStyle {

  margin-right: 0% !important;
}
.verticleDynamicFieldStyle {
  margin-right: 0% !important;
}
.paperDetailsStyle {

  margin-right: 1% !important;
}
.black-btn-bg_manual {
  margin-right: 2% !important;

}

.verticleStyle_manual{

  margin-right: 0%;
}
.calender-toggler_manual {

  left: 0px  !important;
}
.total_records_list{
  padding-right: 7% !important;
}
.padding_2_total_records_list{
  padding: 2% 2% 2% 0% !important;
}
.calender-toggler_dashboard {

  right: 75% !important;

}
.apply_cancel {
  padding-right: 4% !important;
  padding-left: 12% !important;

}
.dateperiod_reports {
  margin-right: 4.5% !important;
}

.margin_left_right_paper_details_header{
  margin-left: 5% !important;
  margin-right: 5% !important;

}
@media only screen and (max-width: 767px)
{
.padding_allocate{
    padding: 0% 8% 0% 8% !important;
}
}
@media only screen and (max-width: 600px)  {
  .dateperiod_reports {
    margin-right: 6.5% !important;
    width: 85% !important;
}
   .margin_input_form_report {
    margin: 2% 8% 5% 1% !important;;
}
.datepickerStyle_report {
  left: -16% !important;
}
.margin_input_report{
  margin: 2% 23% 5% -17% !important;
}
.datepickerStyles_report {
  left: 3% !important;
}
  .search_text_padding{
    padding-right: 20% !important;
  }
  .manual_bulk {
    padding-right: 4%;
  }
  .margin_left_right_paper_details_header{
    margin-left: 10% !important;
    margin-right: 5% !important;

  }

  .paperDetailsStyle {

    margin-right: 4% !important;
  }

  .calender-toggler_manual {

    left: -91%  !important;
  }
  .manual_bulk_main {
    margin-right: 4.5% !important;

  }
  .black-btn-bg_manual {
    margin-right: 8% !important;
}
.calender-toggler_dashboard{

  right: 73% !important;
}
.apply_cancel {
  padding-right: 4% !important;
  padding-left: 12% !important;

}
}
@media only screen and (min-width: 1400px)  {
  .dashboard_toatl_stcok
  {
    position: absolute;
     right: 1% !important;
  }
  }
  .user_mangememt_padding
  {
    margin-right: 3% !important;
  }
  .end_allocation {
    padding: 16px 44px 0px 22px !important;
    color: #688F99;
  }
  @media only screen and (max-width: 600px)  {
    .end_allocation {
        padding: 16px 24px 13px 22px !important;

    }
    .MultipleSelectInputStyles_reports{
      margin-right: 5% !important;
    }
    .start_allocate{
      padding: 19px 22px 0px 20px !important;
    }


  }
  @media only screen and (max-width: 992px) and (min-width: 768px)  {
    .search_text_padding{
      padding-right: 10% !important;
    }
  }
  @media only screen and (max-width: 1024px) and (min-width: 600px)  {
    .datepickerStyle_report{
      left: 0% !important;


    }
    .dateperiod_reports {
      width: 87.8%I !important;
    }
    .datepickerStyles_report{
      left: 0% !important ;

    }
    .dateperiod {
      width: 85% !important;
      margin-right: 6% !important;

  }
  .MultipleSelectInputStyles_reports{
    margin-right: 5% !important;
  }
   .date_position_report {
    right: -15% !important;
}
  }



  .adminActions {
    position: absolute;
    right: 95% !important;
    // left: 1%;
    top: 2%;
  }
}
